<div id="ajax-guest-editor-create">
	<div id="ajax-guest-editor-header">
		<span>Add new guest</span>
		<span class="header-button fa fa-times" onclick="$('#ajax-guest-editor-create').remove();"></span>
	</div>
	<div id="ajax-guest-editor-content">
		<h1>not finished!</h1>
		{%include 'Forms/ajaxGuestForm.html.twig'%}
	</div>
</div>
